:root {
    --black: #222831;
    --dark-grey: #393E46;
    --teal: #00ADB5;
    --white: #EEEEEE;
}

body {
    /* background-color: var(--white); */
    /* background-color: var(--black); */
    margin: 0;
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero */

header {
    height: 30rem;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 75%;
}

.portrait > img {
    border-radius: 50%;
    width: 400px;
}

.intro {
    font-size: 2rem;
}

#name {
    color: var(--teal);
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
}

#tagline {
    font-size: .75em;
}


/* Resume */

.resume {
    margin-top: 2rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center; 
    align-items: center; 
    background-color: #EEEEEE;
}

.resume-item {
    width: 75%;
    height: 75%;
}

.resume-item > .content {
    text-align: left;
}

.resume-item > h2 {
    margin-bottom: 0;
    color: var(--teal);
    font-size: xx-large;
}

.subtitle {
    margin-top: 4px;
    color: #555;
    margin-bottom: 1.5rem;
}

hr {
    margin-bottom: 16px;
    width: 75%;
    margin-left: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.flex-container > p {
    margin-top: 0;
    width: 33.3%;
}

.hobbies {
    width: 65%;
}

.hobbies > p {
    width: 50%;
    font-size: large;
}

.contact {
    display: flex;
    justify-content: center;
    background-color: #DDD;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 4rem;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
    font-size: larger;
}

a:link {
    color: var(--black);
}

a:visited {
    color: var(--dark-grey);
}

a:hover {
    color: var(--teal);
}

a:active {
    color: var(--white);
}

@media only screen and (max-width: 1200px){
    .portrait img {
        width: 350px;
    }
}

@media only screen and (max-width: 992px){
    header {
        height: 25rem;
    }

    .portrait img {
        width: 300px;
    }
    
    .hero {
        width: 85%;
    }
}    

@media only screen and (max-width: 800px) {
    header {
        height: 20rem;
    } 

    .hero {
        gap: 50px;
    }
    
    .intro {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 15rem;
        text-align: center;
    } 
    
    .portrait img {
        width: 150px;
        margin-top: 10px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width: 100%;
        padding: 0;
        gap: 0px;
    }
    
    .intro {
        font-size: 1rem;
    }
    
    #tagline {
        font-size: 1em;
        margin-top: 0;
    }
}