:root {
    --black: #222831;
    --dark-grey: #393E46;
    --teal: #00ADB5;
    --white: #EEEEEE;
    --background: #DDD;
}



body {
    /* background-color: var(--white); */
    /* background-color: var(--black); */
    background-color: var(--background);
    margin: 0;
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

/* Hero */

header {
    height: 30rem;
    background-color: #fff;
    padding-bottom: 2rem;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 75%;
}

.portrait > img {
    border-radius: 50%;
    width: 400px;
}

.intro {
    font-size: 2rem;
}

#name {
    color: var(--teal);
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
}

#tagline {
    font-size: .75em;
}


/* Resume */

.resume {
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center; 
    align-items: center; 
    background-color: #EEEEEE;
}

.resume-item {
    width: 75%;
    height: 75%;
}

.resume-item > .content {
    text-align: left;
}

.resume-item > h2 {
    margin-bottom: 0;
    color: var(--teal);
    font-size: xx-large;
}

.subtitle {
    margin-top: 4px;
    color: #555;
    margin-bottom: 1.5rem;
}

hr {
    margin-bottom: 16px;
    width: 75%;
    margin-left: 0;
}

.layout-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.layout-container > p {
    margin-top: 0;
    width: 33.3%;
}

.skills > p {
    text-wrap: nowrap;
}

.hobbies > p {
    width: 50%;
    font-size: large;
    text-wrap: nowrap;
}

.contact {
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 50%;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
    font-size: larger;
}

a:link {
    color: var(--black);
}

a:visited {
    color: var(--dark-grey);
}

a:hover {
    color: var(--teal);
}

a:active {
    color: var(--white);
}

@media only screen and (max-width: 1200px){
    .portrait img {
        width: 350px;
    }
}

@media only screen and (max-width: 992px){
    header {
        height: 25rem;
    }

    .portrait img {
        width: 300px;
    }
    
    .hero {
        width: 85%;
    }
    
    .layout-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 75%;
    }
    
    .layout-container > p {
        margin-left: 20%;
    }
    
    .resume {
        grid-template-columns: 1fr;
        height: auto;
        padding-bottom: 30px;
    }
    
    .resume-item {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
    }

    .resume-item > .content {
        text-align: center;
    }

    .resume-item > h2 {
        margin-bottom: 0;
        color: var(--teal);
        text-align: center;
        font-size: xx-large;
    }

    hr {
        margin-bottom: 16px;
        width: 75%;
        margin: auto auto 10px auto;
        text-align: center;
    }

    .socials {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}    

@media only screen and (max-width: 800px) {
    header {
        height: 15rem;
    } 

    .hero {
        gap: 50px;
    }
    
    .portrait img {
        width: 250px;
    }
    
    .intro {
        font-size: 1.5rem;
    }
    
    
    .socials {
        gap: 25px;
    }
    
    .social-link svg {
        width: 25px;
    }

    a {
        font-size: large;
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 15rem;
        text-align: center;
    } 
    
    .portrait img {
        width: 150px;
        margin-top: 10px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        width: 100%;
        padding: 0;
        gap: 0px;
    }
    
    .intro {
        font-size: 1rem;
    }
    
    #tagline {
        font-size: 1em;
        margin-top: 0;
    }
    
    .hobbies p{
        font-size: 1em;
        text-wrap: nowrap;
    }
    
    .socials {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        gap: 0;
    }

    .social-link {
       margin-left: 20%;
    }
    .social-link svg {
        width: 20px;
    }
    
    .social-link a {
        font-size: 1em;
    }
}